<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel=stylesheet href="/css/style.css">
</head>
<body>
    <form action="/shop" method="POST">
    <input type="submit" value="交換するぜyeah">
    </form>
    <h2>もらった投稿</h2>
    <% if @exchange_posts != nil %>
        <% @exchange_posts.each do |exchange_post| %>
            <p><%= exchange_post.user.name %></p>
            <p><%= exchange_post.contents %></p>
            <p><%= exchange_post.yaba %></p>
        <% end %>
    <% else %>
        <p>もらった投稿はありません。</p>
    <% end %>

    <h2>自分の投稿</h2>
    <a href="/post/new">新しく自分の秘密を投稿する</a>
    <% @posts.each do |post| %>
        <div>
            <%= post.user.name %>,
            <%= post.contents %>,
            <%= post.yaba %>
        </div>
    <% end %>
</body>
</html>